<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        (click)="jumbotronExample.toggle()"
        aria-controls="jumbotronExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        mdbCollapse
        #jumbotronExample="mdbCollapse"
        class="collapse navbar-collapse"
        id="jumbotronExample"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a
              class="nav-link"
              aria-current="page"
              href=""
              (click)="this.auth.logout()"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Dashboard</h1>
    <h4 class="mb-3">kendo - grid</h4>
  </div>
  <!-- Jumbotron -->
</header>
<div class="wrapper">
  <form novalidate #myForm="ngForm">
    <kendo-grid
      [kendoGridTemplateEditing]="createNewUser"
      [kendoGridBinding]="gridData"
      [pageSize]="20"
      [pageable]="true"
      [sortable]="true"
      [navigable]="true"
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand type="button">Add new</button>
      </ng-template>
      <kendo-grid-column field="id" editor="numeric" title="User Id">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.id"
            kendoGridFocusable
            name="Id"
            class="k-textbox k-input k-rounded-md"
            type="number"
            required
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="firstName" title="First Name">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.firstName"
            kendoGridFocusable
            name="firstName"
            class="k-textbox k-input k-rounded-md"
            required
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="lastName" title="Last Name">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.lastName"
            kendoGridFocusable
            name="lastName"
            class="k-textbox k-input k-rounded-md"
            required
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="email" title="User Email">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.email"
            kendoGridFocusable
            name="email"
            required
            class="k-textbox k-input k-rounded-md"
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="password" title="User Password">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.password"
            kendoGridFocusable
            name="password"
            required
            class="k-textbox k-input k-rounded-md"
            type="password"
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="role" title="User Role">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input
            [(ngModel)]="dataItem.role"
            kendoGridFocusable
            name="role"
            required
            min="1"
            max="3"
            class="k-textbox k-input k-rounded-md"
            type="number"
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="command" width:220>
        <ng-template kendoGridCellTemplate let-isNew="isNew">
          <button kendoGridEditCommand type="button" [primary]="true">
            Edit
          </button>
          <button kendoGridRemoveCommand type="button">Remove</button>
          <button
            kendoGridSaveCommand
            type="button"
            [disabled]="
              myForm.invalid == null || myForm.invalid == false ? false : true
            "
          >
            {{ isNew ? "Add" : "Update" }}
          </button>
          <button kendoGridCancelCommand type="button">
            {{ isNew ? "Discard changes" : "Cancel" }}
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </form>
</div>
